.aboutContainer {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 80vh;
	width: 85vw;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.aboutItemContainer {
	display: flex;
	flex: 0 1 1em;
	flex-wrap: wrap;
	height: 850px;
	min-width: 600px;
	flex-direction: row;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.541);
	border-radius: 10px;
	/* border-right: 4px solid rgba(26, 26, 26, 0.466);
	border-bottom: 4px solid rgba(26, 26, 26, 0.466); */
	overflow-x: hidden;
}
.aboutItemContainer::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.aboutTitle {
	color: white;
	text-align: center;
}
.profilePicture {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	align-self: center;
}
.aboutItem {
	display: flex;
	flex-direction: column;
	flex: 1 1 1em;
	color: white;
	text-align: center;
}
.aboutTagsContainer {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}
.aboutItemTags {
	color: orange;
	font-weight: bold;
	font-size: 0.8em;
}
.aboutItemTags:hover {
	cursor: pointer;
	transform: scale(1.2);
}
hr {
	width: 100%;
	border: 0.1em solid transparent;
	border-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgba(214, 214, 214, 0.267),
		rgba(255, 255, 255, 0)
	);
	border-image-slice: 1;
}
.aboutDesc {
	margin-left: 20px;
	margin-right: 20px;
	color: white;
	text-align: center;
	font-size: 1.1em;
}
.subTitle {
	color: orange;
}
.expContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	/* height: 100px; */
}
.hobbyContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100px;
}
.aboutList {
	font-weight: lighter;
}

@media screen and (max-width: 1024px) {
	.aboutItemContainer {
		min-width: 600px;
		max-height: 710px;
	}
}
@media screen and (max-width: 768px) {
	.aboutItemContainer {
		min-width: 450px;
		max-height: 450px;
	}
}
@media screen and (max-width: 414px) {
	.aboutItemContainer {
		min-width: 390px;
		max-height: 610px;
	}
}
@media screen and (max-width: 375px) {
	.aboutItemContainer {
		min-width: 350px;
		max-height: 670px;
	}
}

@media screen and (max-width: 320px) {
	.aboutItemContainer {
		min-width: 310px;
		max-height: 470px;
	}
}