.contactContainer {
	position: relative;
	margin-top: 115px;
	width: 600px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.contactItemContainer {
	display: flex;
	flex: 0 1 1em;
	flex-wrap: wrap;
	height: 100%;
	min-width: 600px;
	flex-direction: row;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.541);
	border-radius: 10px;
	z-index: 1;
}
.contactTitle {
	color: white;
	text-align: center;
}
.profilePicture {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	align-self: center;
}
.contactItem {
	display: flex;
	flex-direction: column;
	flex: 1 1 1em;
	color: white;
	text-align: center;
}
.contactTagsContainer {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}
.contactItemTags {
	color: orange;
	font-weight: bold;
	font-size: 0.8em;
	z-index: 2;
}
.contactItemTags:hover {
	cursor: pointer;
	transform: scale(1.2);
	z-index: 2;
}
hr {
	width: 100%;
	border: 0.1em solid transparent;
	border-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgba(214, 214, 214, 0.267),
		rgba(255, 255, 255, 0)
	);
	border-image-slice: 1;
}
.contactDesc {
	margin-right: 20px;
	margin-left: 20px;
	color: white;
	text-align: center;
	font-size: 1.3em;
	z-index: 2;
}
.contactDesc a{
    color: orange;
    text-decoration: none;
}
.contactDesc a:hover{
    color: #DF9000;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
	.contactItemContainer {
		min-width: 600px;
		max-height: 800px;
	}
}
@media screen and (max-width: 768px) {
	.contactItemContainer {
		min-width: 450px;
		max-height: 450px;
	}
}
@media screen and (max-width: 414px) {
	.contactItemContainer {
		min-width: 390px;
		max-height: 410px;
	}
}
@media screen and (max-width: 375px) {
	.contactItemContainer {
		min-width: 350px;
		max-height: 450px;
	}
}

@media screen and (max-width: 320px) {
	.contactItemContainer {
		min-width: 310px;
		max-height: 470px;
	}
}