.portfolioContainer {
	position: relative;
	margin-top: 115px;
	height: 100%;
	width: 90vw;
	min-width: 200px;
	min-height: 550px;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	z-index: -1;
}

.portfolioItemContainer {
	display: flex;
	flex: 0 1 1em;
	flex-wrap: wrap;
	height: 250px;
	min-width: 400px;
	flex-direction: row;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.541);
	border-radius: 10px;
}

.portfolioTitle {
	color: white;
	text-align: center;
}

.projectPicture {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	align-self: center;
}

.portfolioItem {
	display: flex;
	flex-direction: column;
	flex: 1 1 1em;
	color: white;
	text-align: center;
}

.portfolioTagsContainer {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}

.portfolioItemTags {
	color: orange;
	font-weight: bold;
	font-size: 0.8em;
}

.portfolioItemTags:hover {
	cursor: pointer;
	transform: scale(1.2);
}

hr {
	width: 100%;
	border: 0.1em solid transparent;
	border-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgba(214, 214, 214, 0.267),
		rgba(255, 255, 255, 0)
	);
	border-image-slice: 1;
}

.portfolioDesc {
	margin-left: 20px;
	margin-right: 20px;
	color: white;
	text-align: center;
	font-size: 1em;
	vertical-align: middle;
}

.portfolioTitle:hover {
	cursor: pointer;
	transform: scale(1.2);
}

/* MEDIA TAGS */

@media screen and (max-width: 1024px) {
	.portfolioItemContainer {
		min-width: 500px;
		max-height: 600px;
	}
}
@media screen and (max-width: 768px) {
	.portfolioItemContainer {
		min-width: 450px;
		max-height: 450px;
	}
}
@media screen and (max-width: 414px) {
	.portfolioItemContainer {
		min-width: 390px;
		max-height: 410px;
	}
}
@media screen and (max-width: 375px) {
	.portfolioItemContainer {
		min-width: 350px;
		max-height: 450px;
	}
}

@media screen and (max-width: 320px) {
	.portfolioItemContainer {
		min-width: 310px;
		max-height: 450px;
	}
}
