body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(29, 20, 6, 0.705);
  font-family: "Raleway", sans-serif;
}
.bgimg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

/* HEADER CSS */
header {
  position: absolute;
  width: 70vw;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.281);
  border-left: 1px solid orange;
  border-bottom: 1px solid orange;
  border-right: 1px solid orange;
}
h1.logo {
  margin-left: 1em;
  color: white;
}
.headerContainer {
  margin-right: 1em;
}
.headerContainer > * {
  height: 30px;
  width: 70px;
  margin-right: 2em;
}
button {
    height: 10px;
    width: 20px;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: white;
}
.navBar {
  transition: transform 0.2s;
}
.navBar:hover {
  cursor: pointer;
  border-bottom: 2px solid orange;
  transform: scale(1.1);
}
.logo {
  transition: transform 0.2s;
}
.logo:hover {
  transform: scale(1.1);
}


/* MEDIA TAGS */

@media (max-width: 750px) {
  header {
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    transform: translate(-47.5%);
  }
  .container > * {
    margin-right: 1em;
  }
}

@media (max-width: 550px) {
  .container > * {
    margin-right: 0.2em;
  }
  header {
    width: 550px;
    transform: translate(-60%);
  }
}

@media (max-width: 350px) {
  .container > * {
    margin-right: 0.2em;
  }
  header {
    width: 350px;
    transform: translate(-42.5%);
  }
}
