body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(66, 66, 66);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Raleway", sans-serif;
	overflow-x: hidden;
}
video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
  }
#app{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

/* HEADER CSS */
header {
	position: fixed;
	left: 0;
	top: 0;
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(24, 24, 24);
	border-bottom: 1px solid orange;
	z-index: 3;
}
.logo {
	display: flex;
	margin-left: 1em;
	color: white;
	position: absolute;
	align-items: center;
	left: 0;
}
.logo div{
	height: 40px;
	width: 150px;
	background-image: url("../images/Logo\ White.svg");
	background-repeat: no-repeat;
}
.headerContainer {
	margin-right: 1em;
	z-index: 3;
}
.headerContainer > * {
	height: 30px;
	width: 70px;
}
button {
	height: 10px;
	width: 20px;
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	color: white;
}
.navBar {
	transition: transform 0.2s;
	z-index: 3;
}
.navBar:hover {
	cursor: pointer;
	border-bottom: 2px solid orange;
	transform: scale(1.1);
}
.logo {
	transition: transform 0.2s;
}
.logo:hover {
    cursor: pointer;
	transform: scale(1.1);
}
#defaultCanvas0 {
	position: sticky;
	background: rgb(0, 0, 0);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}


/* MEDIA TAGS */



/* @media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 768px) {
	
} */
@media screen and (max-width: 550px) {
	.logo {
		display: none;
	}
}
@media screen and (max-width: 414px) {
	header {
		height: 30px;
	}
}
@media screen and (max-width: 375px) {
	.homeItemContainer {
		min-width: 350px;
		max-height: 450px;
	}
}

@media screen and (max-width: 320px) {
	
}
