body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(29, 20, 6, 0.705);
	font-family: "Raleway", sans-serif;
}
.bgimg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.3;
}

/* HEADER CSS */
header {
	position: absolute;
	height: 75px;
	width: 100vw;
	left: 50%;
	transform: translate(-50%);

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.281);
	border-bottom: 1px solid orange;
}
.logo {
	display: flex;
	margin-left: 1em;
	color: white;
	position: absolute;
	left: 0;
}
.headerContainer {
	margin-right: 1em;
}
.headerContainer > * {
	height: 30px;
	width: 70px;
	/* margin-right: 2em; */
}
button {
	height: 10px;
	width: 20px;
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	color: white;
}
.navBar {
	transition: transform 0.2s;
}
.navBar:hover {
	cursor: pointer;
	border-bottom: 2px solid orange;
	transform: scale(1.1);
}
.logo {
	transition: transform 0.2s;
}
.logo:hover {
	transform: scale(1.1);
}

/* MEDIA TAGS */

@media (max-width: 750px) {
	header {
		/* flex-direction: column;
		justify-content: space-between; */
		left: 0;
		transform: translate(0);
	}
	.container > * {
		margin-right: 1em;
	}
	.logo {
		display: none;
	}
}

@media (max-width: 550px) {
	.container > * {
		margin-right: 0.2em;
	}
}

@media (max-width: 375px) {
	header {
		height: 30px;
	}
}
