html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-attachment: fixed;
    background-color: rgb(68, 68, 68);
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.backgroundImage{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.backgroundImage::before{
    content: "";
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 14.2%;
    opacity: 0.4;
    z-index: -1;
}


.headerContainer{
    position: relative;
    max-height: 4em;
    min-height: 4em;
    width: 75vw;
    margin-left: 12.5vw;

    background-color: rgba(27, 27, 27, 0.315);
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to top, 
        rgb(228, 132, 7), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.headerContainer > *{
    color: white;   
}

.navBtn{
    display: inline-block;
    font-size: 1.1em;
    margin-left: 10px;
    align-self: center;
}

.navBtn:hover{
    cursor: pointer;
    /* border: 1px solid orange; */
    transform: scale(1.2);
    color: orange;
    padding: 5px;
}
hr {
    border: 0.1em solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(214, 214, 214, 0.267),rgba(255, 255, 255, 0));
    border-image-slice: 1;
}
.hrOrange {
    border: 0.1em solid transparent;
    border-image: linear-gradient(to right, rgba(248, 143, 4, 0), rgba(240, 146, 5, 0.267),rgba(233, 160, 4, 0));
    border-image-slice: 1;
}
